# *** folders
/dist/
/docs/
/node_modules/
/package/
testdata/

# *** files
.DS_Store
Thumbs.db
lint/error_log.txt


# *** Sencha Architect
.sass-cache/
AppInspector/build/
app/AppInspector/build/
*.$old

.idea/
*.iml
