## folders
.idea/
/dist/
/docs/
/node_modules/
/package/
testdata/


## files
*.iml
.DS_Store
Thumbs.db
lint/error_log.txt
npm-debug.log


## Ext JS
.sass-cache/
/app/AppInspector/build/
/app/AppInspector/**/build/
*.$old
