# *** folders
/dist/
/docs/
/node_modules/
/package/
testdata/

# *** files
.DS_Store
Thumbs.db
lint/error_log.txt


# *** Sencha Architect
.sass-cache/
AppInspector/build/
app/AppInspector/build/
# app/AppInspector/ext/
# app/AppInspector/touch/
*.$old

# see http://docs.sencha.com/architect/3/#!/guide/team_dev
app/AppInspector/.architect
# app/AppInspector/.sencha/
app/AppInspector/.sencha_backup/

.idea/
*.iml
