.components-panel {
  .box-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
  }
  .components-tree {
    @include box-flex(1);
    overflow: auto;
    max-height: 100%
  }
  .component-properties-panel {
    @include box-flex(0);
    width: 350px;
    overflow: auto;
    max-height: 100%
  }
}