.filtered {
    display : none !important;
}

.treegrid {
    .x-grid-row:first-child .root .x-grid-cell-inner {
        font-weight : bold !important;
    }

    img {
        &.x-tree-elbow-img:first-child, &.no-icon {
            display : none;
        }
    }
}
