$btn-group-background-color: transparent;
$btn-group-border-color: transparent;
$btn-group-border-width: 0;
$btn-group-framed-background-color: transparent;
$btn-group-framed-border-width: 0;
$btn-group-inner-border-color: transparent;
