$base-color: silver;
$tab-border-radius: 0;
$tab-color: #000;
$tab-color-active: $tab-color;
$tab-font-size: 10px;
$tab-font-weight: normal;
$tab-font-weight-active: bold;

$sencha-green: rgba(121, 154, 5, 1);	// sencha green

// loadmask
$loadmask-msg-border-radius: 0;
//$loadmask-opacity: 0.95;