:focus { outline: none; }

.base-icn {
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.icn-home {
    @extend .base-icn;
    background-image: url('../resources/images/icon-home.png');
}

.icn-components {
    @extend .base-icn;
    background-image: url('../resources/images/icon-tree.png');
}

.icn-stores {
    @extend .base-icn;
    background-image: url('../resources/images/icon-database.png');
}

.icn-layouts {
    @extend .base-icn;
    background-image: url('../resources/images/icon-screen.png');
}

.icn-overnested  {
    @extend .base-icn;
    background-image: url('../resources/images/icon-tree.png');
}

.icn-box  {
    @extend .base-icn;
    background-image: url('../resources/images/icon-computer.png');
}

.icn-events {
    @extend .base-icn;
    background-image: url('../resources/images/icon-light.png');
}

.icn-refresh {
    @extend .base-icn;
    background-image: url('../resources/images/icon-refresh.png');
}

.icn-clear {
    @extend .base-icn;
    background-image: url('../resources/images/stop1.png');
}

.icn-record {
    @extend .base-icn;
    background-image: url('../resources/images/play_black1.png');
}

.icn-stop {
    @extend .base-icn;
    background-image: url('../resources/images/stop.png');
}

.icn-globe {
    @extend .base-icn;
    background-image: url('../resources/images/icon-line-globe.png');
}

.icn-mvc {
    @extend .base-icn;
    background-image: url('../resources/images/icon-connected.png');
}

$loadmask-msg-border-radius: 0;

.x-body.x-masked {
    div.x-panel {
        @include filter(blur(2px));
    }
}

.x-mask-msg {
    &.no-framework-mask {
        border: 1px solid $loadmask-msg-inner-color;

        .x-mask-inner {}

        .x-mask-msg-text {
            padding: 24px;
            margin: 0;
            background: none;
            font-size: 2em;
        }
    }

    @include box-shadow(rgba($loadmask-msg-inner-color, 0.5) 2px 2px 10px);
}

.filtered {
    display: none !important;
}

.about-details {
    img {
        border: 2px solid $green;
    }

    .description, .contributors {
        a {
            color: $green;
            text-decoration: none;

            &:focus, &:hover {
                text-decoration: underline;
            }
        }
    }
}

.components-toolbar {
    &.top {
        border-top-width: 1px;
        border-bottom-width: 1px !important;
        padding: 2px 0;
    }
}

.highlight .x-grid-row {
    .indicator {
        background-color: $grid-row-cell-border-color;
    }

    &.isChanged, &.isOwn {
        .indicator {
            background-color: $blue-light !important;
        }
    }

    &.isOwn {
        color: $green !important;
    }

    &.isOverride {
        color: $orange !important;

        .indicator {
            background-color: $orange !important;
        }
    }

    &.isInvalidBinding {
      color: $red !important;

      .indicator {
        background-color: $red !important;
      }
    }
}

.components-tips {
    border-top: 1px solid $base-color !important;
    //border-left: 5px solid $grid-row-cell-border-color !important;

    .tip {
        font-weight: bold;

        &:before {
            content: "";
            padding-right: 8px;
            margin-right: 4px;
        }
    }

    .tip-changed, .tip-custom {
        @extend .tip;

        &:before { background-color: $blue-light; }
    }

    .tip-custom {
        color: $green;
    }

    .tip-override {
        @extend .tip;

        color: $orange;

        &:before { background-color: $orange; }
    }
}

.treegrid {
    .x-grid-row:first-child .root .x-grid-cell-inner {
        font-weight: bold !important;
    }

    img {
        &.x-tree-elbow-img:first-child, &.no-icon {
            display: none;
        }
    }

    span {
        &.boolean {
            font-family: monospace;

            &.true { color: $green; }

            &.false { color: $red; }
        }

        &.null, &.undefined, &.NaN {
            font-family: monospace;
            color: lighten($grey, 50%);
        }
    }
}
