/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p327@code/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p327@code/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p327@code/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p327@code/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p327@code/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p327@code/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p327@code/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p327@code/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p327@code/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_global.scss */
body {
  cursor: default;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
  margin: 0;
  tab-size: 4;
  -webkit-user-select: none;
  color: #303942;
}

/* line 17, ../sass/_global.scss */
ol {
  outline: none;
}

/* line 23, ../sass/_global.scss */
.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #F5F5F5;
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #CCC;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 47, ../sass/_global.scss */
.btn:hover, .btn:focus {
  color: #333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
/* line 57, ../sass/_global.scss */
.btn.active, .btn:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 65, ../sass/_global.scss */
.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=6500);
  opacity: 65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 75, ../sass/_global.scss */
.treepanel li {
  margin-top: 2px;
  margin-left: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-user-select: text;
  cursor: default;
  padding-top: 2px;
  line-height: 12px;
}
/* line 85, ../sass/_global.scss */
.treepanel li.parent {
  margin-left: 1px;
}
/* line 87, ../sass/_global.scss */
.treepanel li.parent::before {
  -webkit-user-select: none;
  background-image: url(../images/statusbarButtonGlyphs.png);
  background-size: 320px 120px;
  background-position: -4px -96px;
  opacity: 0.5;
  content: "a";
  width: 8px;
  float: left;
  margin-right: 4px;
  color: transparent;
  text-shadow: none;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
  /* line 87, ../sass/_global.scss */
  .treepanel li.parent::before {
    background-image: url(Images/statusbarButtonGlyphs2x.png);
  }
}
/* line 103, ../sass/_global.scss */
.treepanel li.parent.expanded::before {
  background-position: -20px -96px;
}
/* line 107, ../sass/_global.scss */
.treepanel li .info {
  padding-top: 4px;
  padding-bottom: 3px;
}
/* line 111, ../sass/_global.scss */
.treepanel li .selection {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  z-index: -1;
}
/* line 119, ../sass/_global.scss */
.treepanel li.hovered .selection {
  background: rgba(56, 121, 217, 0.1);
  display: block;
}
/* line 123, ../sass/_global.scss */
.treepanel li.selected .selection {
  background: #d4d4d4;
  display: block;
}
/* line 128, ../sass/_global.scss */
.treepanel ol {
  display: none;
  margin: 0;
  -webkit-padding-start: 12px;
  list-style: none;
}
/* line 133, ../sass/_global.scss */
.treepanel ol.expanded {
  display: block;
}

/* line 141, ../sass/_global.scss */
.monospace,
.source-code {
  font-size: 11px !important;
  font-family: Menlo, monospace;
}

/* line 5, ../sass/_viewport.scss */
body {
  padding-left: 200px;
}

/* line 12, ../sass/_viewport.scss */
.west-panel {
  width: 200px;
  border-right: 1px solid #a3a3a3;
  background-color: #d6dde5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
/* line 21, ../sass/_viewport.scss */
.west-panel[disabled] .list-item {
  opacity: 0.5;
}
/* line 26, ../sass/_viewport.scss */
.west-panel .list-item {
  height: 36px;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 34px;
  border-top: 1px solid transparent;
}
/* line 33, ../sass/_viewport.scss */
.west-panel .list-item.selected {
  color: white;
  border-top: 1px solid #4480c8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5c93d5), to(#1553aa));
  text-shadow: rgba(0, 0, 0, 0.33) 1px 1px 0;
}
/* line 38, ../sass/_viewport.scss */
.west-panel .list-item.selected .button {
  display: inline-block;
}
/* line 44, ../sass/_viewport.scss */
.west-panel .icon {
  float: left;
  width: 32px;
  height: 32px;
  margin-top: 1px;
  margin-right: 3px;
}
/* line 52, ../sass/_viewport.scss */
.west-panel .button {
  width: 23px;
  height: 17px;
  float: right;
  margin-top: 9px;
  display: none;
}
/* line 59, ../sass/_viewport.scss */
.west-panel .refresh {
  background-image: url(../images/paneRefreshButtons.png);
}
/* line 61, ../sass/_viewport.scss */
.west-panel .refresh:hover {
  background-position: -23px 0;
}
/* line 64, ../sass/_viewport.scss */
.west-panel .refresh:active {
  background-position: -46px 0;
}

/* line 73, ../sass/_viewport.scss */
.panel {
  position: absolute;
  left: 200px;
  top: 0;
  right: 0;
  bottom: 0;
}

/* line 1, ../sass/_components-panel.scss */
.components-panel {
  overflow: auto;
}
/* line 3, ../sass/_components-panel.scss */
.components-panel .components-tree {
  padding: 2px 6px;
}

/* line 1, ../sass/_home-panel.scss */
.home-panel {
  padding: 20px;
  overflow: auto;
}
/* line 4, ../sass/_home-panel.scss */
.home-panel h1 {
  font-size: 16px;
  margin-bottom: 5px;
}
/* line 8, ../sass/_home-panel.scss */
.home-panel .tree-components {
  padding: 2px 6px;
}

/* line 1, ../sass/_code-highlight.scss */
.dark-magenta {
  color: #8B008B;
}

/* line 4, ../sass/_code-highlight.scss */
.dark-blue {
  color: #00008B;
}

/* line 7, ../sass/_code-highlight.scss */
.dark-sienna {
  color: #A0522D;
}
