$tab-color : #000000;
$tab-color-active : $tab-color;
$tab-color-over : $tab-color;

$tab-border-radius: 0;

$tab-font-size : 10px;
$tab-font-size-active : 10px;
$tab-font-size-over : 10px;

$tab-font-weight : normal;
$tab-font-weight-active : normal;
$tab-font-weight-over : normal;
