$base-color : silver;
$font-family : arial;

// browsers
$include-ff : false;
$include-ie : false;
$include-opera : false;

// primery colors
$blue : rgb(0, 72, 119);            // #004877
$green : rgb(121, 154, 5);          // #799A05

// secondary colors
$blue-light : rgb(59, 142, 222);    // #3B8EDE
$cyan : rgb(60, 191, 194);          // #3CBFAE
$grey : rgb(84, 86, 91);            // #54565B
$red : rgb(177, 32, 41);            // #B12029
$orange : rgb(255, 144, 22);        // #FF9016
$yellow : rgb(255, 200, 69);        // #FFC845
